name: ToxiUI test CI

on:
  pull_request:
  push:
    branches:
      - stable
      - development

jobs:
  test:
    runs-on: ubuntu-latest
    if: (!contains(github.event.head_commit.message, '[skip ci]') && !contains(github.event.head_commit.message, '[ci skip]'))
    steps:
      - name: Announce commit in Discord
        uses: Ilshidur/action-discord@master
        env:
          DISCORD_WEBHOOK: ${{ secrets.WEBHOOK_URL_GIT }}
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Check if syntax style is valid
        uses: JohnnyMorganz/stylua-action@b01f0cf174adf7b3891599fa03ef1a0f48aac8a7
        if: success()
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: latest
          args: --check .
      - name: Check if code output is valid (BigWigsMods)
        uses: BigWigsMods/actions/luacheck@02ca6f20cba2493dbf714924fcc9ccbb7235bd00
        if: success()
        with:
          args: -q
      - name: Check if code output is valid (lunarmodules)
        uses: lunarmodules/luacheck@v1
      - name: Draft fake release as artifact
        uses: Toxicom/packager@master
        if: success()
        env:
          GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: -m .pkgmeta-dev
      - name: Upload artifact to GitHub
        uses: actions/upload-artifact@v3
        if: success()
        with:
          name: package
          path: .release/*.zip
          retention-days: 7
      - name: Announce test ci result in Discord
        uses: sarisia/actions-status-discord@f268209d088ace9f9666322b04d60e013fef212d
        if: always()
        with:
          webhook: ${{ secrets.WEBHOOK_URL_GIT }}
          username: ToxiBot - Test
          avatar_url: "https://i.imgur.com/ib1CSUx.png"
